spring:
  application:
    name: lunapay
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/lunapay}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  
  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false

server:
  port: ${SERVER_PORT:8082}

jwt:
  secret: ${JWT_SECRET:MINHA_SENHA_TESTE}
  expiration: 3600000

logging:
  level:
    root: INFO
    com.luna.pay: INFO
  file:
    name: /app/logs/lunapay.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
